{% extends "base.html" %}
{% block content %}

    <h2 style="text-align: center">{{ search | title}}</h2>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/" ><img src="https://images.pexels.com/photos/1108099/pexels-photo-1108099.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price Test PRICE</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/" ><img src="https://cdn.pixabay.com/photo/2016/12/13/05/15/puppy-1903313__340.jpg" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price Test PRICE</a>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image">
                    <a href="/" ><img src="/" alt=""></a>
                </div>
                <div class="card-content">
                    <p>TEST</p>
                </div>
                <div class="card-action">
                    <a href="/">View listing: Price Test PRICE</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}